:root {
    --color1: #FFFFFF;
    --color2: #F7BFCC;
    --color3: #EC6484;
    --color4: #D11A45;
    --color5: #490D1B;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color1);
}